.redes-quienes-somos-items a{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.2rem;
    text-decoration: none;
}
.quienes-somos-section{
    margin: 1rem;
}

.quienes-somos-text{
    width: 90%;
}

.redes-quienes-somos-items a:visited,
.redes-quienes-somos-items a:active {
    text-decoration: none;
    color: inherit;
}

.redes-quienes-somos-items a:hover{
    color: #B9305B;
}