.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  height: 100%; 
}

.menu-item {
  display: flex; 
  align-items: center; 
  padding: 1rem 2rem; 
  color: white; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


.climatologia-item {
  background-color: #35a49f; 
}

.pronosticos-item {
  background-color: #f7a94d; 
}

.informes-item {
  background-color: #e57d3e; 
}

.educacion-item {
  background-color: #d15668; 
}

.quienes-somos-item {
  background-color: #aa3d5c; 
}

.menu-item img {
  width: 40px; 
  height: 40px;
  margin-right: 1rem; 
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}


@media (max-width: 768px) {
  .menu-items {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    flex-direction: column;
  }

  .menu-items.open {
    height: auto; 
  }
}