.footer-fijo {
    position: fixed; 
    bottom: 0;      
    left: 0;        
    width: 100%;  
    background-color: #33333385; 
    color: #f7f7f7;              
    padding: 10px 0;           
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000;  
}

.footer-contenido {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

.redes-sociales {
    display: flex;
    gap: 30px; 
}

.redes-sociales {
    display: flex;
    align-items: center;
}

.redes-sociales svg {
    width: 35px; 
    height: 35px;
    fill: #333; 
    transition: fill 0.3s, transform 0.3s;
}

.redes-sociales a:hover svg {
    fill: #007bff; 
    transform: translateY(-2px);
}