.app-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}


.main-content {
  margin-left: var(--sidebar-width-expanded, 280px);
  width: calc(100% - var(--sidebar-width-expanded, 280px));
  padding: 20px;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  min-height: 100vh;
  background-color: #f9f9f9; 
  overflow-x: hidden;
}

.main-content.collapsed {
  margin-left: var(--sidebar-width-collapsed, 90px);
  width: calc(100% - var(--sidebar-width-collapsed, 90px));
}


@media (max-width: 1200px) {
  .app-container {
    flex-direction: column;
  }

  header {
    width: 100%;
    position: relative;
  }

  .main-content {
    margin-left: 0; 
    width: 100%; 
    padding-top: 80px;
    transition: none;
  }

  .main-content.collapsed {
    margin-left: 0;
    width: 100%;
  }
}
