.header__logo-container{
  text-align: center;
}
.header__logo-container img{
  max-height: 3.5rem;
  max-width: 80%;
}


@media (max-width: 1200px) {
  .header__logo-container img{
    max-height: 2rem;
  }
}