.link-card-footer {
    justify-content: flex-end; 
}

.link-button {
    background-color: #D7683B; 
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    margin-left: auto; 
}

.link-button:hover {
    background-color: #c05c30;
}