.btnHamburguesa__containes {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 999;
}
.btnHamburguesa__line {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.35s ease;
  transform-origin: center;
}
.btnHamburguesa__containes.close .btnHamburguesa__line {
    width: 85%; 
}
.btnHamburguesa__containes.close {
  justify-content: center;
}

.btnHamburguesa__containes.close .f1 {
  transform: translateY(10.5px) rotate(45deg);
}

.btnHamburguesa__containes.close .f2 {
  opacity: 0;
  transform: scaleX(0);
}

.btnHamburguesa__containes.close .f3 {
  transform: translateY(-10.5px) rotate(-45deg);
}

.btnHamburguesa__containes:hover {
  transform: scale(1.1);
}

.btnHamburguesa__line {
  background-color: #ffffff;
}


@media (max-width: 1200px) {
  .btnHamburguesa__containes {
    display: flex;
    width: 32px;
    height: 24px;
  }

  .btnHamburguesa__line {
    height: 2.5px;
  }

  .btnHamburguesa__containes.close .f1 {
    transform: translateY(7px) rotate(45deg);
  }

  .btnHamburguesa__containes.close .f3 {
    transform: translateY(-7px) rotate(-45deg);
  }
}
