.video-card-footer {
    gap: 3rem;
    justify-content: space-between; 
}

.video-time-link {
    font-size: 0.85rem;
    color: #999;
}

.video-button {
    color: #D7683B; 
}

.video-button:hover {
    text-decoration: underline;
    color: #c05c30;
}